@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (max-width: 600px) {
  /* Styles for screens smaller than 600px (phones) */
  .key {
    width: 30px; /* Smaller width for phones */
    height: 50px; /* Smaller height for phones */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tittle-gradient {
  font-size: 7rem;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.tittle-gradient-Logged-In {
  font-size: 4rem;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  align-items: center;
}

.text-gradient {
  font-size: 2rem;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-data-gradient {
  margin-top: 1rem;
  font-size: 1rem;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
  margin-right: 70rem;
}

.error-gradient {
  font-size: 1rem;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.button {
  padding: 0.25rem 0.5rem;
  width: 200px;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  color: white;
  margin-top: 1rem;
  margin-left: 5rem;
}

.small-button {
  padding: 0.25rem 0.5rem;
  width: 80px;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}

.play-again-button {
  padding: 0.25rem 0.5rem;
  width: 100px;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  color: white;
  margin-top: 2rem;
  margin-right: 1rem;
}

.button span {
  display: block;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
}

.small-button span {
  display: block;
  border-radius: 9999px;
}

.play-again-button span {
  display: block;
  border-radius: 9999px;
}


.input-container {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  border-image-slice: 1;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-container input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  caret-color: #aa4b6b;
}

/* Fix Auto fill color, autofill is blocked*/
.input-container input:-webkit-autofill {
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.data-and-button-container {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.wordle-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wordle-row {
  display: flex;
}

.wordle-cell {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 2px;
  margin-right: 2px;
  background-image: none;
  background-color: #121212;
  font-weight: bold;
}


.keyboard-first {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 1px;
  background-color: #121212;
  margin-top: 2rem;
}

.keyboard-second {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
  padding: 1px;
  background-color: #121212;
  margin-top: 1px;
}

.keyboard-third {
  display: grid;
  grid-template-columns: repeat(9, minmax(45px, max-content)); /* Adjust minmax values as needed */
  gap: 5px;
  padding: 1px;
  background-color: #121212;
  margin-top: 1px;
}

.key {
  padding: 10px;
  background-color: #121212;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 24px;
  width: 45px;
  height: 65px;
}

.key-large {
  padding: 10px;
  background-color: #121212;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 24px;
  width: 67.5px;
}